<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300;400&display=swap" rel="stylesheet">
    <title>Covid-19 | Results</title>
  </head>
  <body>
        
          <center><h3 style="font-family: 'Dela Gothic One', cursive; padding: 20px ; color: darkcyan">STAY HOME , STAY SAFE</h3></center>
          <div class="container " ></div>
          <section class="d-flex justify-content-center align-content-center">
            <div class=row style="background-color: rgb(111, 167, 185)">
                <div class="col">
                    <img src="https://cdn.pixabay.com/photo/2020/03/19/21/35/covid-4948866_960_720.jpg" style="width: 100%">
                </div>
                <div class="col" style="padding: 20px">
                        <table style="width: 100%" cellpadding="10px">
                                <tr class="table-warning">
                                  <th>Total Cases</th>
                                  <td><%= result_data.cases%></td>
                                </tr>
                                <tr class="table-warning">
                                  <th>Today's Cases</th>
                                  <td><%= result_data.todayCases%></td>
                                </tr>
                                <tr class="table-danger">
                                  <th>Total Deaths</th>
                                  <td><%= result_data.deaths%></td>
                                </tr>
                                <tr class="table-danger">
                                  <th>Today Deaths</th>
                                  <td><%= result_data.todayDeaths%></td>
                                </tr>
                                <tr class="table-success">
                                  <th>Total Recovered</th>
                                  <td><%= result_data.recovered%></td>
                                </tr>
                                <tr class="bg-warning">
                                        <th>Active</th>
                                        <td><%= result_data.active%></td>
                                      </tr>
                                <tr class="table-active">
                                  <th>Tests</th>
                                  <td><%= result_data.tests%></td>
                                </tr>
                                
                                <tr class="table-primary">
                                  <th>Total Population</th>
                                  <td><%= result_data.population%></td>
                                </tr>
                              </table>
                </div>
            </div>
            
          </section>
          <br>
          <hr>
          <center><h3 style="font-family: 'Kiwi Maru', serif;">Want to perform another search? &nbsp;&nbsp;<a class="btn btn-warning" href="/">Home</a> </h3></center>
        </div>
      </body>            
</html>